.z-video {
	display: inline-block;
}
.z-video-real {
	width: 100%;
	height: 100%;
}
.z-video-cover {
	object-fit: cover;
}
.z-video-light-on-video {
	position: relative;
	z-index: 1001;
}
.z-video-dim-background {
	background: black;
	opacity: 0.8;
}
