.z-inputgroup {
	display: -ms-inline-flexbox;
	display: inline-flex;
}
.z-inputgroup-text {
	display: -ms-flexbox;
	display: flex;
	background: var(--zk-inputgroup-text-background-color);
	border: 1px solid var(--zk-input-border-color);
	padding: 0 12px;
	min-height: var(--zk-input-height);
	/* same as .z-textbox */
	align-items: center;
}
/* Workaround for .z-toolbarbutton: toolbar.css is loaded after inputgroup.css */
.z-inputgroup > :nth-child(n) {
	/* "> :nth-child(n)" has a higher specificity than "> *" */
	border-radius: 0;
}
.z-inputgroup-vertical {
	flex-direction: column;
}
.z-inputgroup-vertical > :first-child {
	border-top-left-radius: var(--zk-input-border-radius);
	border-top-right-radius: var(--zk-input-border-radius);
}
.z-inputgroup-vertical > :last-child {
	border-bottom-left-radius: var(--zk-input-border-radius);
	border-bottom-right-radius: var(--zk-input-border-radius);
}
.z-inputgroup:not(.z-inputgroup-vertical) > :nth-child(n) {
	/* for a higher specificity see above */
	height: auto;
}
.z-inputgroup:not(.z-inputgroup-vertical) > :first-child {
	border-top-left-radius: var(--zk-input-border-radius);
	border-bottom-left-radius: var(--zk-input-border-radius);
}
.z-inputgroup:not(.z-inputgroup-vertical) > :last-child {
	border-top-right-radius: var(--zk-input-border-radius);
	border-bottom-right-radius: var(--zk-input-border-radius);
}
