.ZKBD *,
.ZKBD *:before,
.ZKBD *:after {
	-webkit-user-drag: none;
	-webkit-user-select: none;
}
.ZKBD *:focus {
	outline: none;
}
.ZKBD input[type=number]::-webkit-inner-spin-button,
.ZKBD input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.ZKBD input,
.ZKBD input:focus,
.ZKBD textarea,
.ZKBD textarea:focus {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-user-modify: read-write-plaintext-only;
	/* Android 4.0.3 bug */
	outline: none;
	-webkit-user-select: text;
}
/* Checkbox and Radio */
.ZKBD input[type=checkbox],
.ZKBD input[type=radio] {
	width: 24px;
	height: 24px;
}
.ZKBD input[type=checkbox] {
	font-size: 22px;
	line-height: 22px;
}
.ZKBD input[type=radio]:before {
	width: 16px;
	height: 16px;
}
.z-label,
.z-loading,
.z-apply-loading-indicator,
.z-a,
.z-temp .z-loading,
.z-temp .z-loading-indicator {
	font-size: 15px;
}
.z-apply-loading-indicator {
	min-width: 148px;
}
.z-radio,
.z-checkbox {
	display: inline-block;
	line-height: 28px;
}
.z-radio-content,
.z-checkbox-content {
	font-size: 15px;
	cursor: pointer;
}
.z-radiogroup-vertical .z-radio {
	display: block;
}
.z-html {
	display: inline-block;
}
/* JS debug error box */
.z-error {
	width: auto;
	max-width: 90%;
	padding: 12px 8px 16px 16px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.z-error .errornumbers {
	font-size: 17px;
}
.z-error .messagecontent {
	padding-top: 16px;
	padding-right: 8px;
	font-size: 15px;
}
.z-error .button {
	width: 22px;
	height: 22px;
	font-size: 22px;
	margin-left: 12px;
}
.z-error .button > .z-icon-times {
	/* override */
	font-size: 22px;
}
.z-biglistbox-header-content {
	font-size: 15px;
}
.z-biglistbox-body td {
	font-size: 15px;
}
.z-biglistbox-outer {
	margin: 0 22px 22px 0;
}
.z-biglistbox-verticalbar-tick {
	width: 14px;
	height: 100%;
	border: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	background: transparent;
}
.z-biglistbox-verticalbar-tick:hover,
.z-biglistbox-verticalbar-tick:active {
	background: 0;
	border: 0;
}
.z-biglistbox-verticalbar-tick:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 14px;
	height: 22px;
	background: #fff;
	border: 1px solid var(--zk-base-border-color);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	border-radius: 2px;
}
.z-biglistbox-verticalbar-tick:hover:before {
	background-color: var(--zk-biglistbox-scrollbar-hover-background-color);
	border: 1px solid var(--zk-biglistbox-scrollbar-hover-border-color);
}
.z-biglistbox-verticalbar-tick:active:before {
	background-color: var(--zk-biglistbox-scrollbar-active-background-color);
	border: 1px solid var(--zk-biglistbox-scrollbar-active-border-color);
}
.z-biglistbox-verticalbar-tick:after {
	content: '\e910';
	position: absolute;
	bottom: 1px;
	display: block;
	left: -3px;
	font-size: 20px;
}
/* Wscroll Vertical */
.z-biglistbox-wscroll-vertical {
	width: 22px;
	right: -22px;
	-webkit-box-shadow: inset 1px 1px 7px rgba(210, 210, 210, 0.75), inset -1px -1px 7px rgba(210, 210, 210, 0.75);
	-moz-box-shadow: inset 1px 1px 7px rgba(210, 210, 210, 0.75), inset -1px -1px 7px rgba(210, 210, 210, 0.75);
	-o-box-shadow: inset 1px 1px 7px rgba(210, 210, 210, 0.75), inset -1px -1px 7px rgba(210, 210, 210, 0.75);
	-ms-box-shadow: inset 1px 1px 7px rgba(210, 210, 210, 0.75), inset -1px -1px 7px rgba(210, 210, 210, 0.75);
	box-shadow: inset 1px 1px 7px rgba(210, 210, 210, 0.75), inset -1px -1px 7px rgba(210, 210, 210, 0.75);
}
.z-biglistbox-wscroll-vertical .z-biglistbox-wscroll-drag {
	width: 22px;
	height: 168px;
}
.z-biglistbox-wscroll-vertical .z-biglistbox-wscroll-drag .z-biglistbox-wscroll-home,
.z-biglistbox-wscroll-vertical .z-biglistbox-wscroll-drag .z-biglistbox-wscroll-up,
.z-biglistbox-wscroll-vertical .z-biglistbox-wscroll-drag .z-biglistbox-wscroll-down,
.z-biglistbox-wscroll-vertical .z-biglistbox-wscroll-drag .z-biglistbox-wscroll-end,
.z-biglistbox-wscroll-vertical .z-biglistbox-wscroll-drag .z-biglistbox-wscroll-body {
	font-size: 20px;
	line-height: 22px;
	text-align: center;
}
.z-biglistbox-wscroll-vertical .z-biglistbox-wscroll-drag .z-biglistbox-wscroll-home,
.z-biglistbox-wscroll-vertical .z-biglistbox-wscroll-drag .z-biglistbox-wscroll-up,
.z-biglistbox-wscroll-vertical .z-biglistbox-wscroll-drag .z-biglistbox-wscroll-down,
.z-biglistbox-wscroll-vertical .z-biglistbox-wscroll-drag .z-biglistbox-wscroll-end {
	width: 100%;
	height: 28px;
}
.z-biglistbox-wscroll-vertical .z-biglistbox-wscroll-drag .z-biglistbox-wscroll-body {
	width: 100%;
	height: 56px;
	top: 56px;
}
.z-biglistbox-wscroll-vertical .z-biglistbox-wscroll-drag .z-biglistbox-wscroll-body:before {
	left: 0;
	top: 20px;
}
.z-biglistbox-wscroll-vertical .z-biglistbox-wscroll-drag .z-biglistbox-wscroll-up {
	top: 28px;
}
.z-biglistbox-wscroll-vertical .z-biglistbox-wscroll-drag .z-biglistbox-wscroll-down {
	bottom: 28px;
}
.z-biglistbox-wscroll-vertical .z-biglistbox-wscroll-pos {
	width: 22px;
	height: 168px;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	-o-border-radius: 2em;
	-ms-border-radius: 2em;
	border-radius: 2em;
}
.z-biglistbox-wscroll-vertical .z-biglistbox-wscroll-endbar {
	width: 22px;
	height: 8px;
}
/* Wscroll Horizontal */
.z-biglistbox-wscroll-horizontal {
	height: 22px;
	bottom: -22px;
	-webkit-box-shadow: inset 1px 1px 7px rgba(210, 210, 210, 0.75), inset -1px -1px 7px rgba(210, 210, 210, 0.75);
	-moz-box-shadow: inset 1px 1px 7px rgba(210, 210, 210, 0.75), inset -1px -1px 7px rgba(210, 210, 210, 0.75);
	-o-box-shadow: inset 1px 1px 7px rgba(210, 210, 210, 0.75), inset -1px -1px 7px rgba(210, 210, 210, 0.75);
	-ms-box-shadow: inset 1px 1px 7px rgba(210, 210, 210, 0.75), inset -1px -1px 7px rgba(210, 210, 210, 0.75);
	box-shadow: inset 1px 1px 7px rgba(210, 210, 210, 0.75), inset -1px -1px 7px rgba(210, 210, 210, 0.75);
}
.z-biglistbox-wscroll-horizontal .z-biglistbox-wscroll-drag {
	width: 168px;
	height: 22px;
}
.z-biglistbox-wscroll-horizontal .z-biglistbox-wscroll-drag .z-biglistbox-wscroll-home,
.z-biglistbox-wscroll-horizontal .z-biglistbox-wscroll-drag .z-biglistbox-wscroll-up,
.z-biglistbox-wscroll-horizontal .z-biglistbox-wscroll-drag .z-biglistbox-wscroll-down,
.z-biglistbox-wscroll-horizontal .z-biglistbox-wscroll-drag .z-biglistbox-wscroll-end,
.z-biglistbox-wscroll-horizontal .z-biglistbox-wscroll-drag .z-biglistbox-wscroll-body {
	font-size: 20px;
	line-height: 22px;
	text-align: center;
}
.z-biglistbox-wscroll-horizontal .z-biglistbox-wscroll-drag .z-biglistbox-wscroll-home,
.z-biglistbox-wscroll-horizontal .z-biglistbox-wscroll-drag .z-biglistbox-wscroll-up,
.z-biglistbox-wscroll-horizontal .z-biglistbox-wscroll-drag .z-biglistbox-wscroll-down,
.z-biglistbox-wscroll-horizontal .z-biglistbox-wscroll-drag .z-biglistbox-wscroll-end {
	width: 28px;
	height: 100%;
}
.z-biglistbox-wscroll-horizontal .z-biglistbox-wscroll-drag .z-biglistbox-wscroll-body {
	width: 56px;
	height: 100%;
	left: 56px;
}
.z-biglistbox-wscroll-horizontal .z-biglistbox-wscroll-drag .z-biglistbox-wscroll-body:before {
	left: 20px;
}
.z-biglistbox-wscroll-horizontal .z-biglistbox-wscroll-drag .z-biglistbox-wscroll-up {
	left: 28px;
}
.z-biglistbox-wscroll-horizontal .z-biglistbox-wscroll-drag .z-biglistbox-wscroll-down {
	right: 28px;
}
.z-biglistbox-wscroll-horizontal .z-biglistbox-wscroll-pos {
	width: 168px;
	height: 22px;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	-o-border-radius: 2em;
	-ms-border-radius: 2em;
	border-radius: 2em;
}
.z-biglistbox-wscroll-horizontal .z-biglistbox-wscroll-endbar {
	width: 8px;
	height: 22px;
	background: var(--zk-biglistbox-scrollbar-end-bar-background-color);
}
.z-biglistbox-wscroll-home-clk .z-biglistbox-wscroll-home {
	color: #FFF;
	background-color: var(--zk-biglistbox-scrollbar-active-background-color);
	border: 1px solid var(--zk-biglistbox-scrollbar-active-border-color);
}
.z-biglistbox-wscroll-up-clk .z-biglistbox-wscroll-up {
	color: #FFF;
	background-color: var(--zk-biglistbox-scrollbar-active-background-color);
	border: 1px solid var(--zk-biglistbox-scrollbar-active-border-color);
}
.z-biglistbox-wscroll-down-clk .z-biglistbox-wscroll-down {
	color: #FFF;
	background-color: var(--zk-biglistbox-scrollbar-active-background-color);
	border: 1px solid var(--zk-biglistbox-scrollbar-active-border-color);
}
.z-biglistbox-wscroll-end-clk .z-biglistbox-wscroll-end {
	color: #FFF;
	background-color: var(--zk-biglistbox-scrollbar-active-background-color);
	border: 1px solid var(--zk-biglistbox-scrollbar-active-border-color);
}
.z-biglistbox-wscroll-body-clk .z-biglistbox-wscroll-body {
	color: #FFF;
	background-color: var(--zk-biglistbox-scrollbar-active-background-color);
	border: 1px solid var(--zk-biglistbox-scrollbar-active-border-color);
}
.z-north-header,
.z-south-header,
.z-west-header,
.z-center-header,
.z-east-header {
	font-size: 17px;
}
.z-borderlayout-icon {
	font-size: 22px;
}
/* Splitter */
/* There is no need to override in this theme. */
.z-button {
	font-size: 15px;
}
.z-calendar-text {
	font-size: 16px;
}
.z-calendar-icon {
	font-size: 20px;
}
.z-calendar th {
	font-size: 14px;
	width: 36px;
	height: 40px;
}
.z-calendar-cell {
	font-size: 14px;
	width: 36px;
	height: 36px;
}
.z-calendar-cell:hover {
	color: initial;
	background: initial;
}
.z-calendar-selected:hover {
	color: var(--zk-calendar-selected-hover-color);
	background: var(--zk-calendar-selected-hover-background-color);
}
.z-calendar-header:first-child {
	line-height: 38px;
}
.z-calendar-decade .z-calendar-cell,
.z-calendar-month .z-calendar-cell,
.z-calendar-year .z-calendar-cell {
	width: 63px;
	height: 48px;
}
.z-calendar-wk.z-calendar .z-calendar-decade .z-calendar-cell,
.z-calendar-wk.z-calendar .z-calendar-month .z-calendar-cell,
.z-calendar-wk.z-calendar .z-calendar-year .z-calendar-cell {
	width: 72px;
	height: 48px;
}
.z-calendar-today {
	margin: 8px 10px 0;
}
.z-calendar-today .z-calendar-title {
	font-size: 15px;
}
/* Calendar wheel */
.z-datebox-popup .z-calendar {
	border: 0px;
	min-width: 100px;
}
.z-calendar-wheel-date {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-o-box-orient: horizontal;
	-ms-box-orient: horizontal;
	box-orient: horizontal;
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;
	width: 100%;
	position: relative;
	background: var(--zk-base-background-color);
	margin-right: 2px;
}
.z-calendar-wheel-cave {
	position: relative;
}
.z-calendar-wheel-body {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-o-box-orient: horizontal;
	-ms-box-orient: horizontal;
	box-orient: horizontal;
	width: 100%;
}
.z-calendar-wheel-line {
	width: 100%;
	height: 0;
	position: absolute;
	top: 50%;
	z-index: 1;
}
.z-calendar-wheel-list {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;
	color: var(--zk-text-color-default);
	background: var(--zk-base-background-color);
	height: 120px;
	margin: 0 1px 0 0;
	position: relative;
	overflow: hidden;
}
.z-calendar-wheel-list ul {
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	list-style: none;
	z-index: 2;
}
.z-calendar-wheel-list li {
	font-size: 17px;
	display: block;
	height: 40px;
	margin: 0;
	padding: 0;
	line-height: 40px;
	opacity: 0.3;
	text-align: center;
	white-space: nowrap;
	list-style: none;
}
.z-calendar-wheel-footer {
	height: 50px;
	padding: 5px 0;
	clear: both;
}
.z-calendar-wheel-button {
	font-family: var(--zk-base-content-font-family);
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	width: 45%;
	border: none;
	-webkit-border-radius: var(--zk-base-border-radius);
	-moz-border-radius: var(--zk-base-border-radius);
	-o-border-radius: var(--zk-base-border-radius);
	-ms-border-radius: var(--zk-base-border-radius);
	border-radius: var(--zk-base-border-radius);
	padding: 8px 0;
	-webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16), 0 2px 4px 0 rgba(0,0,0,0.24);
	-moz-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16), 0 2px 4px 0 rgba(0,0,0,0.24);
	-o-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16), 0 2px 4px 0 rgba(0,0,0,0.24);
	-ms-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16), 0 2px 4px 0 rgba(0,0,0,0.24);
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16), 0 2px 4px 0 rgba(0,0,0,0.24);
}
.z-calendar-wheel-left {
	float: left;
	background: var(--zk-color-primary);
	color: var(--zk-text-color-default3);
	border: 1px solid transparent;
}
.z-calendar-wheel-right {
	float: right;
	background: var(--zk-base-background-color);
	color: var(--zk-text-color-default);
	border: 1px solid var(--zk-color-grey-light);
}
li.z-calendar-wheel-list-selected {
	opacity: 1;
}
.z-chosenbox-item-content {
	font-size: 15px;
}
.z-chosenbox-button {
	font-size: 20px;
}
.z-chosenbox-option,
.z-chosenbox-empty {
	padding: 8px;
	font-size: 15px;
}
/* Colorbox */
.z-colorbox {
	height: 34px;
}
.z-colorpalette {
	padding: 4px;
	width: 304px;
	height: auto;
}
.z-colorpalette-newcolor {
	width: 34px;
	height: 34px;
}
.z-colorpalette-input {
	width: 96px;
	height: 34px;
}
.z-colorpalette-color {
	width: 40px;
	height: 24px;
	margin: 4px;
}
.z-colorpalette-body {
	max-height: 416px;
	overflow: auto;
}
.z-colorpicker {
	padding: 4px;
}
.z-colorbox-popup {
	padding: 4px;
}
.z-menu-image.z-colorbox-color {
	width: 24px;
	height: 24px;
	min-width: 24px;
	min-height: 24px;
}
.z-colorbox-paletteicon,
.z-menu-paletteicon,
.z-colorbox-pickericon,
.z-menu-pickericon {
	font-size: 24px;
	padding: 4px 10px;
}
.z-colorbox-paletteicon,
.z-menu-paletteicon {
	left: 12px;
	top: 12px;
}
.z-colorbox-pickericon,
.z-menu-pickericon {
	left: 64px;
	top: 12px;
}
.z-palette-button .z-colorbox-paletteicon,
.z-picker-button .z-colorbox-pickericon {
	/* copied form toolbar.less: z-toolbarbutton-checked */
	color: var(--zk-toolbar-button-checked-color);
	background-color: var(--zk-toolbar-button-checked-background-color);
}
.z-combobox,
.z-bandbox,
.z-datebox,
.z-timebox,
.z-spinner,
.z-doublespinner,
.z-timepicker {
	font-size: 15px;
}
/* mobile-specific */
.z-timebox-button {
	width: 40px;
	font-size: 22px;
	padding: 5px 8px 0;
}
.z-timebox-button:hover {
	border-color: var(--zk-combo-button-hover-border-color);
	background: var(--zk-combo-button-hover-background-color);
}
.z-timebox-button:hover > i {
	width: auto;
	height: auto;
	border-top-width: 0;
	position: static;
}
.z-timebox-button:active {
	color: var(--zk-combo-button-active-icon-color);
	border-color: var(--zk-combo-button-active-border-color);
	background-color: var(--zk-combo-button-active-background-color);
}
.z-spinner-input:not(.z-spinner-input-full),
.z-doublespinner-input:not(.z-doublespinner-input-full) {
	padding-right: 73px;
}
.z-spinner-button,
.z-doublespinner-button {
	width: 65px;
	/* 64 + 1 for border-left */
	padding: 0;
	border: none;
}
.z-spinner-button:hover > i,
.z-doublespinner-button:hover > i {
	border-top: none;
	position: static;
}
.z-spinner-button > a,
.z-doublespinner-button > a {
	font-size: 22px;
	width: 32px;
	height: 34px;
	padding: 2px 4px;
	border: 1px solid var(--zk-input-border-color);
	line-height: 34px;
	position: static;
	float: right;
}
.z-spinner-button > a:first-child,
.z-doublespinner-button > a:first-child {
	border-left: none;
	-webkit-border-radius: 0 var(--zk-base-border-radius) var(--zk-base-border-radius) 0;
	-moz-border-radius: 0 var(--zk-base-border-radius) var(--zk-base-border-radius) 0;
	-o-border-radius: 0 var(--zk-base-border-radius) var(--zk-base-border-radius) 0;
	-ms-border-radius: 0 var(--zk-base-border-radius) var(--zk-base-border-radius) 0;
	border-radius: 0 var(--zk-base-border-radius) var(--zk-base-border-radius) 0;
}
.z-spinner-button > a:hover,
.z-doublespinner-button > a:hover {
	border: 1px solid var(--zk-combo-button-hover-border-color);
	background: var(--zk-combo-button-hover-background-color);
}
.z-spinner-button > a:active,
.z-doublespinner-button > a:active {
	color: var(--zk-combo-button-active-icon-color);
	border: 1px solid var(--zk-combo-button-active-border-color);
	background-color: var(--zk-combo-button-active-background-color);
}
.z-timebox-disabled .z-timebox-button {
	color: var(--zk-input-disable-color) !important;
	border-color: var(--zk-input-border-color) !important;
	background: var(--zk-input-disable-background-color) !important;
	cursor: default !important;
}
.z-timebox-disabled .z-timebox-button:hover,
.z-timebox-disabled .z-timebox-button:active {
	color: var(--zk-input-disable-color) !important;
	border-color: var(--zk-input-border-color) !important;
	background: var(--zk-input-disable-background-color) !important;
	cursor: default !important;
}
.z-spinner-disabled .z-spinner-button > a {
	color: var(--zk-input-disable-color) !important;
	border-color: var(--zk-input-border-color) !important;
	background: var(--zk-input-disable-background-color) !important;
	cursor: default !important;
	background: 0 !important;
}
.z-spinner-disabled .z-spinner-button > a:hover,
.z-spinner-disabled .z-spinner-button > a:active {
	color: var(--zk-input-disable-color) !important;
	border-color: var(--zk-input-border-color) !important;
	background: var(--zk-input-disable-background-color) !important;
	cursor: default !important;
	background: 0 !important;
}
.z-doublespinner-disabled .z-doublespinner-button > a {
	color: var(--zk-input-disable-color) !important;
	border-color: var(--zk-input-border-color) !important;
	background: var(--zk-input-disable-background-color) !important;
	cursor: default !important;
	background: 0 !important;
}
.z-doublespinner-disabled .z-doublespinner-button > a:hover,
.z-doublespinner-disabled .z-doublespinner-button > a:active {
	color: var(--zk-input-disable-color) !important;
	border-color: var(--zk-input-border-color) !important;
	background: var(--zk-input-disable-background-color) !important;
	cursor: default !important;
	background: 0 !important;
}
.z-combobox-popup,
.z-timepicker-popup {
	overflow: hidden;
}
.z-comboitem,
.z-timepicker-option {
	font-size: 15px;
	padding: 8px;
}
.z-comboitem:after,
.z-timepicker-option:after {
	/* for vertical middle */
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 0;
}
.z-comboitem-inner,
.z-timepicker-option-inner {
	display: block;
	font-size: 12px;
}
.z-comboitem-image,
.z-timepicker-option-image {
	float: none;
	width: 22px;
	height: 22px;
}
.z-comboitem-image:empty,
.z-timepicker-option-image:empty {
	display: none;
}
/* ZK-3717 element readonly in tablet */
.z-datebox-input[readonly],
.z-timebox-input[readonly] {
	background: var(--zk-input-background-color);
	border-color: var(--zk-input-border-color);
}
.z-datebox-input[readonly]:focus,
.z-timebox-input[readonly]:focus {
	border-color: var(--zk-input-focus-border-color);
}
/* Timebox Wheel */
.z-timebox-popup .z-timebox-wheel-body {
	margin: 4px 0;
}
.z-timebox-wheel {
	padding: 0 2px;
}
.z-timebox-wheel-time {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-o-box-orient: horizontal;
	-ms-box-orient: horizontal;
	box-orient: horizontal;
	width: 50%;
	position: relative;
	background: var(--zk-base-background-color);
}
.z-timebox-wheel-cave {
	position: relative;
}
.z-timebox-wheel-body {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-o-box-orient: horizontal;
	-ms-box-orient: horizontal;
	box-orient: horizontal;
	width: 100%;
}
.z-timebox-wheel-line {
	width: 100%;
	height: 0;
	position: absolute;
	top: 50%;
	z-index: 1;
}
.z-timebox-wheel-list {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-o-box-flex: 1;
	-ms-box-flex: 1;
	box-flex: 1;
	color: var(--zk-text-color-default);
	background: var(--zk-base-background-color);
	height: 120px;
	margin: 0 1px 0 0;
	position: relative;
	overflow: hidden;
}
.z-timebox-wheel-list ul {
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	list-style: none;
	z-index: 2;
}
.z-timebox-wheel-list li {
	font-size: 17px;
	display: block;
	height: 40px;
	margin: 0;
	padding: 0;
	line-height: 40px;
	opacity: 0.3;
	text-align: center;
	white-space: nowrap;
	list-style: none;
}
.z-timebox-wheel-footer {
	height: 50px;
	padding: 5px 0;
	clear: both;
}
.z-timebox-wheel-button {
	font-family: var(--zk-base-content-font-family);
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	width: 45%;
	border: none;
	-webkit-border-radius: var(--zk-base-border-radius);
	-moz-border-radius: var(--zk-base-border-radius);
	-o-border-radius: var(--zk-base-border-radius);
	-ms-border-radius: var(--zk-base-border-radius);
	border-radius: var(--zk-base-border-radius);
	padding: 8px 0;
	-webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16), 0 2px 4px 0 rgba(0,0,0,0.24);
	-moz-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16), 0 2px 4px 0 rgba(0,0,0,0.24);
	-o-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16), 0 2px 4px 0 rgba(0,0,0,0.24);
	-ms-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16), 0 2px 4px 0 rgba(0,0,0,0.24);
	box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16), 0 2px 4px 0 rgba(0,0,0,0.24);
}
.z-timebox-wheel-left {
	float: left;
	background: var(--zk-color-primary);
	color: var(--zk-text-color-default3);
}
.z-timebox-wheel-right {
	float: right;
	background: var(--zk-base-background-color);
	color: var(--zk-text-color-default);
	border: 1px solid var(--zk-color-grey-light);
}
li.z-timebox-wheel-list-selected {
	opacity: 1;
}
.z-combobutton-icon {
	font-size: 20px;
}
.z-combobutton-icon.z-icon-caret-down {
	margin-top: -10px;
	left: 9px;
}
.z-combobutton-text {
	font-size: 15px;
}
.z-column-content,
.z-row-content,
.z-group-content,
.z-groupfoot-content,
.z-footer-content {
	font-size: 15px;
	padding: 10px 12px;
}
.z-auxheader-content {
	font-size: 15px;
	padding: 8px 12px;
}
.z-grid-body .z-grid-emptybody td {
	font-size: 15px;
	padding: 10px 12px;
}
.z-columns-menupopup .z-column-content {
	padding-right: 38px;
}
.z-column-button {
	width: 38px;
	height: 38px;
	line-height: 38px;
	font-size: 22px;
	display: block;
}
/* Detail */
.z-detail {
	width: 22px;
	height: 22px;
}
.z-detail-icon {
	font-size: 22px;
}
.z-detail-open .z-detail-icon {
	line-height: 22px;
}
.z-detail-content:before {
	margin: 0 0 10px 12px;
}
/* Grouping */
.z-group-inner .z-group-content,
.z-group-inner .z-cell {
	padding: 8px 12px;
}
.z-group-icon {
	width: 22px;
	height: 22px;
	font-size: 22px;
	line-height: 22px;
}
.z-groupfoot-content {
	padding: 8px 12px;
}
.z-groupbox-content,
.z-groupbox-content > .z-label {
	font-size: 15px;
}
.z-groupbox-3d .z-caption-content,
.z-groupbox-3d .z-groupbox-title-content {
	font-size: 17px;
}
.z-groupbox-3d > .z-groupbox-header .z-caption,
.z-groupbox-3d > .z-groupbox-header .z-groupbox-title {
	padding: 10px 16px;
}
.z-groupbox-notitle .z-groupbox-content {
	padding: 12px 16px;
}
.z-groupbox-3d > .z-groupbox-content {
	padding: 12px 16px;
}
.z-listheader-content,
.z-listcell-content,
.z-listgroup-content,
.z-listgroupfoot-content,
.z-listfooter-content {
	font-size: 15px;
	padding: 10px 12px;
}
.z-listbox-body .z-listbox-emptybody td {
	font-size: 15px;
	padding: 10px 12px;
}
.z-listhead-menupopup .z-listheader-content {
	padding-right: 38px;
}
.z-listheader-button {
	width: 38px;
	height: 38px;
	line-height: 38px;
	font-size: 22px;
	display: block;
}
/* Grouping */
.z-listgroup-inner .z-listcell-content,
.z-listgroup-inner .z-listgroup-content {
	padding: 8px 12px;
}
.z-listgroup-icon {
	width: 22px;
	height: 22px;
	font-size: 22px;
	line-height: 22px;
}
.z-listgroupfoot .z-listcell-content {
	padding: 8px 12px;
}
/* checkbox */
.z-listheader-checkable,
.z-listitem-checkable,
.z-listgroup-checkable {
	width: 24px;
	height: 24px;
	font-size: 22px;
}
/* Sandbox-G14: use strict selector to override style */
.z-listitem-selected > .z-listcell > .z-listcell-content > .z-listitem-checkable .z-listitem-icon.z-icon-radio {
	width: 16px;
	height: 16px;
}
.z-textbox,
.z-decimalbox,
.z-intbox,
.z-longbox,
.z-doublebox {
	font-size: 15px;
}
.z-errorbox {
	cursor: move;
}
.z-errorbox-icon {
	top: -3px;
}
.z-errorbox-content {
	font-size: 15px;
	word-wrap: break-word;
}
.z-errorbox > .z-errorbox-icon {
	font-size: 22px;
	top: 6px;
}
.z-errorbox-up + .z-errorbox-icon {
	top: 14px;
}
.z-errorbox-close {
	font-size: 22px;
}
.z-menu-text,
.z-menuitem-text {
	font-size: 17px;
}
.z-menu-image,
.z-menuitem-image {
	min-height: 24px;
	min-width: 24px;
}
.z-menupopup .z-menu-image,
.z-menupopup .z-menuitem-image {
	min-height: 24px;
	min-width: 24px;
}
.z-menupopup [class^="z-icon"] {
	font-size: 24px;
	min-width: 24px;
}
.z-menupopup .z-menuitem-icon {
	font-size: 24px;
	top: 10px;
}
.z-menu-icon {
	font-size: 22px;
}
.z-menu-content,
.z-menuitem-content {
	padding: 4px 12px;
	min-height: 34px;
}
.z-menu-content:before,
.z-menuitem-content:before {
	/* text-only menu centering trick */
	content: "";
	min-height: 24px;
	/* same as .z-menu-image */
	display: inline-block;
	vertical-align: middle;
}
.z-menu-content {
	padding-right: 34px;
}
.z-menubar-icon {
	font-size: 24px;
	margin-top: -14px;
}
/* Native scrollable */
.z-menubar {
	overflow: auto;
}
.z-menubar-horizontal > ul {
	overflow: visible;
	white-space: nowrap;
}
.z-menubar-horizontal li,
.z-menubar-horizontal .z-menuseparator {
	float: none;
	display: inline-block;
}
.z-menubar-vertical {
	max-width: 36%;
}
.z-menubar-vertical li {
	margin: 4px 2px;
}
.z-paging {
	height: 38px;
	padding: 4px 12px 3px;
}
.z-paging-icon {
	font-size: 22px;
}
.z-paging-button {
	min-width: 30px;
	height: 30px;
	line-height: 30px;
	-webkit-border-radius: var(--zk-base-border-radius);
	-moz-border-radius: var(--zk-base-border-radius);
	-o-border-radius: var(--zk-base-border-radius);
	-ms-border-radius: var(--zk-base-border-radius);
	border-radius: var(--zk-base-border-radius);
	font-size: 22px;
	padding: 0;
	margin: 0;
}
.z-paging-text {
	font-size: 15px;
	margin-right: 2px;
}
.z-paging-info {
	font-size: 15px;
	top: 0;
}
.z-paging-input {
	height: 31px;
	margin-left: 2px;
}
.z-paging-os ul > li {
	margin-left: 2px;
}
.z-paging-os ul > li.z-paging-navigate + li,
.z-paging-os ul > li + li.z-paging-navigate {
	margin-left: 4px;
}
.z-paging-os ul > li.z-paging-navigate + li.z-paging-navigate {
	margin-left: 2px;
}
.z-paging-os .z-paging-button {
	padding: 0 8px;
	font-size: 15px;
	height: 30px;
	min-width: 30px;
}
.z-panel-header {
	font-size: 17px;
}
.z-panel-body {
	font-size: 15px;
	padding: 12px 16px;
}
.z-panel-maximize,
.z-panel-minimize,
.z-panel-close,
.z-panel-expand {
	font-size: 22px;
}
.z-popup-content {
	font-size: 15px;
}
.z-notification-icon.z-icon-times-circle,
.z-notification-icon.z-icon-exclamation-circle,
.z-notification-icon.z-icon-info-circle {
	width: 32px;
	height: 32px;
	line-height: 32px;
	font-size: 32px;
	left: 8px;
}
.z-notification-content {
	min-height: 0;
	padding: 32px 8px 32px 44px;
	font-size: 15px;
}
.z-notification-close {
	width: 22px;
	height: 22px;
	font-size: 22px;
	top: 4px;
	right: 4px;
}
.z-notification-left + .z-notification-icon {
	left: 16px;
	/* 8px arrow */
}
.z-notification-pointer ~ .z-notification-content {
	padding: 8px 28px 8px 44px;
}
.z-slider-button {
	width: 22px;
	height: 22px;
}
.z-slider-vertical .z-slider-button {
	left: -8px;
}
.z-slider-horizontal .z-slider-button {
	top: -9px;
}
.z-tab {
	font-size: 17px;
}
.z-tabbox-icon {
	font-size: 24px;
}
.z-tab-button {
	font-size: 20px;
}
.z-tab-image {
	width: 24px;
	height: 24px;
}
.z-tabpanel {
	padding: 12px 16px;
}
/* Vertical */
.z-tabbox-left > .z-tabs .z-tab .z-tab-content > .z-tab-text > .z-tab-image {
	margin-right: 4px;
}
.z-tabbox-right > .z-tabs .z-tab .z-tab-content > .z-tab-text > .z-tab-image {
	margin-right: 4px;
}
/* Accordion */
.z-tabbox-accordion .z-tabpanel > .z-tabpanel-content {
	padding: 12px 16px;
}
.z-toolbarbutton-content {
	font-size: 17px;
	height: 32px;
}
.z-toolbarbutton-content > img,
.z-toolbarbutton-content > i {
	width: 24px;
	height: 24px;
	font-size: 24px;
}
.z-toolbar-content .z-label {
	font-size: 17px;
}
.z-tree-icon,
.z-tree-line {
	width: 12px;
	height: 12px;
	line-height: 12px;
}
.z-tree-icon {
	font-size: 22px;
}
.z-treecell-text {
	margin-left: 4px;
}
.z-treecol-content,
.z-treecell-content,
.z-treefooter-content {
	font-size: 15px;
	padding: 10px 12px;
}
.z-tree-body .z-tree-emptybody td {
	font-size: 15px;
	padding: 10px 12px;
}
/* checkbox */
.z-treerow-checkable {
	width: 24px;
	height: 24px;
	font-size: 22px;
}
/* radio */
.z-treerow-selected > .z-treecell > .z-treecell-content > .z-treerow-checkable .z-treerow-icon.z-icon-radio {
	width: 16px;
	height: 16px;
}
.z-window-header {
	font-size: 17px;
}
.z-window-content {
	font-size: 15px;
	padding: 0 8px 8px;
}
.z-window-icon {
	width: 30px;
	height: 30px;
}
.z-window-maximize,
.z-window-minimize,
.z-window-close {
	font-size: 22px;
}
.z-messagebox-icon {
	font-size: 24px;
	width: 24px;
	height: 24px;
	-webkit-background-size: 24px;
	-moz-background-size: 24px;
	-o-background-size: 24px;
	-ms-background-size: 24px;
	background-size: 24px;
}
.z-messagebox .z-label {
	font-size: 15px;
}
.z-caption {
	font-size: 17px;
}
.z-caption-image {
	width: 24px;
	height: 24px;
}
.z-caption .z-button {
	font-size: 17px;
}
.z-navbar-vertical {
	max-width: 36%;
}
.z-navbar-horizontal {
	overflow-x: auto;
	position: static;
}
.z-nav-content,
.z-navitem-content {
	padding: 4px 8px;
	height: 32px;
}
.z-nav-text,
.z-navitem-text {
	font-size: 17px;
}
.z-nav-text-popup,
.z-navitem-text-popup {
	padding: 0 12px;
}
.z-nav-info {
	font-size: 11px;
}
.z-nav-image,
.z-navitem-image {
	max-width: 24px;
	max-height: 24px;
}
/* sub menu */
.z-navbar > ul ul .z-nav-image,
.z-navbar > ul ul .z-navitem-image {
	max-width: 22px;
	max-height: 22px;
}
.z-navbar > ul ul .z-nav-text,
.z-navbar > ul ul .z-navitem-text {
	font-size: 15px;
}
.z-nav-popup .z-nav-image,
.z-nav-popup .z-navitem-image {
	max-width: 22px;
	max-height: 22px;
}
.z-nav-popup .z-nav-text,
.z-nav-popup .z-navitem-text {
	font-size: 15px;
}
