<?xml version="1.0" encoding="UTF-8"?>

<config>
	<config-name>dev</config-name><!-- used to resolve dependency -->
	<depends>zul</depends>
	<version>
		<version-class>org.zkoss.theme.dev.Version</version-class>
		<version-uid>10.5</version-uid>
	</version>

	<listener>
		<listener-class>org.zkoss.theme.dev.DevThemeWebAppInit</listener-class>
	</listener>
</config>